{% extends "base.html"%}
{% block content %}
<h1>Add a New Product</h1>
<form action="/products" method="post" class="container-new">
    <div class="item-new">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="name" required autofocus>
    </div>
    <div class="item-new">
        <label for="description">Description</label>
        <br>
        <textarea id="description" name="description" placeholder="description" rows="6" cols="60"></textarea>
    </div>
    <div class="item-new">
        <label for="stock_quantity">Stock Quantity</label>
        <input type="number" id="stock_quantity" name="stock_quantity" placeholder="stock quantity" required>
    </div>
    <div class="item-new">
        <label for="buying_cost">Buying Cost</label>
        <input type="number" id="buying_cost" name="buying_cost" placeholder="buying cost" required>
    </div>
    <div class="item-new">
        <label for="selling_cost">Selling Cost</label>
        <input type="number" id="selling_cost" name="selling_cost" placeholder="selling cost" required>
    </div>
    <div class="item-new">
        <label for="manufacturer">Manufacturer</label>
        <select id="manufacturer" name="manufacturer_id">
            {% for manufacturer in manufacturers %}
            <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="item-new">
        <label for="horse_power">Horse Power</label>
        <input type="number" id="horse_power" name="horse_power" placeholder="horse power" required>
    </div>
    <div class="item-new">
        <label for="top_speed">Top Speed</label>
        <input type="number" id="top_speed" name="top_speed" placeholder="top speed in mph" required>
    </div>
    <div class="item-new">
        <label for="type">Type</label>
        <select id="type" name="type">
            <option value="Car">Car</option>
            <option value="SUV">SUV</option>
            <option value="Van">Van</option>
            <option value="Motorbike">Motorbike</option>
            <option value="Truck">Truck</option>
            <option value="People Carrier">People Carrier</option>
        </select>
    </div>

    <button class="buttons" type="submit" style="width: 30%;">Add Product</button>
</form>

{% endblock %}