{% extends "base.html"%}
{% block content%}
<form action="/manufacturers/{{manufacturer.id}}" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{manufacturer.name}}" required autofocus>
    </div>
    <div>
        <label for="country_of_origin">Country of Origin</label>
        <input type="text" id="country_of_origin" name="country_of_origin" value="{{manufacturer.country_of_origin}}">
    </div>
    <div>
        <label for="operating_status">Operating Status</label>
        <select id="operating_status" name="operating_status" value="{{manufacturer.operating_status}}">
            <option value="1">True</option>
            <option value="0">False</option>
        </select>
    </div>

    <button type="submit">Edit Manufacturer</button>



</form>

{% endblock%}