{% extends "base.html"%}
{% block content%}
<h1>All Manufacturers</h1>
<div class="container">
    {% for manufacturer in manufacturers %}
    <div class="item">
        <div>

            <div>
                <a href="/manufacturers/{{manufacturer.id}}">Name: {{manufacturer.name}}</a>
                <br>
                <span>Country of Origin: {{manufacturer.country_of_origin}}</span>
                <br>
                {% if manufacturer.operating_status == False%}
                <span style="color:red">Operating Status: {{manufacturer.operating_status}}</span>
                {% else %}
                <span style="color:green">Operating Status: {{manufacturer.operating_status}}</span>
                {% endif %}

            </div>
            <div>
                <form action="/manufacturers/{{manufacturer.id}}/delete" method="POST">
                    <button type="submit" value="Delete Product" class="buttons">Delete</button>
                </form>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}