html,
body {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    height: 100%;
    color: #351431;
    background-color: rgb(189, 198, 150, 0.4);
}

body>div {
    margin: 2px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.buttons {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    color: black;
}

input,
select,
button {
    font-size: 100%;
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    margin: 0px;
    background-color: rgb(119, 82, 83);
    color: white;
}

.menu li a {
    text-decoration: none;
}

.menu li a:visited {
    color: #DFE0DC;
}

.menu li {
    padding-right: 10px;
    list-style: none;
    color: #DFE0DC;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item {
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%;
    /* (100-32*3)/2 */
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

.filter-item {
    flex-direction: column;
    width: 40%;
}


footer {
    display: flex;
    justify-content: flex-start;
    padding: 16px;
    margin: 0;
    background-color: rgb(119, 82, 83);
    color: #DFE0DC;
    margin-top: auto;

    flex-shrink: 0;

}

.container-new {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-new {
    height: auto;
    margin-bottom: 10px;
}

a {
    color: #351431;
    text-decoration: underline;
}

a:visited {
    color: #351431;
    text-decoration-line: underline;
}