{% extends "base.html"%}
{% block content%}
<h1>Vehicle Showroom inventroy app</h1>
<p>This application is to track and update product and manufacturer details.</p>
<br>
<p>The user can view stock levels, the app will indicate low levels of stock and no stock. The user can also filter
    results by type of vehicle and manufacturer name.</p>
<p>Basic functions included are creating, deleting and updating products and manufacturers as well as displaying
    individual information for each product and manufacturer</p>
<p>The user can also close off manufacturers, doing this will cause all products from that manufacturer not to be
    displayed.</p>
{% endblock %}